<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
<!-- Google font "Inter" -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

  <!-- link to main stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/class_schedule.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="article">
<div class="container">
<div id="content">
{{ content }}
</div>
</div><!-- /.container -->

<footer>

</footer>
</body>
</html>
