<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>

<!-- These are for testing telling browser not to cache the pages. -->
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

  <!-- link to main stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/class_assignment.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="article">
<div class="container">
<div id="content">
{{ content }}
</div>
</div><!-- /.container -->

<footer>
[<a href="index.html">Return</a>]
</footer>

</body>
</html>
