<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>

<!-- These are for testing telling browser not to cache the pages. -->
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

  <!-- link to main stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/class_schedule.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="article">
<div class="container">
<div id="content">
{{ content }}
</div>
</div><!-- /.container -->

<footer>

<ul style="display:inline;margin-right:20px;font-size:12pt;">
<li style="display:inline"><a href="mailto:&#107;&#100;&#101;&#110;&#116;&#64;&#115;&#101;&#97;&#103;&#108;&#97;&#115;&#115;&#46;&#99;&#111;&#109;"><img src="/images/email_icon.svg" alt="Email link" height="32"></a></li>

<li style="display:inline"><a href="https://bsky.app/profile/kdent.bsky.social"><img src="/images/bsky.png" height="32" alt="Bluesky Link"></a>

<li style="display:inline"><a href="https://github.com/kdent"><img src="/images/github_icon.jpg" height="32" alt="Github Link"></a></li>

<li style="display:inline"><a href="https://www.linkedin.com/in/kyleddent/"><img 
src="/images/In-2C-54px-R.png" alt="LinkedIn Link" height="32"></a>

</ul>

</footer>
</body>
</html>
